/.idea/
/nbproject/private/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/bootstrap.php.cache
/app/check.php
/app/SymfonyRequirements.php
/bin/*
/build/
/vendor/
/web/bundles/
/web/js/compiled/
/web/css/compiled/
/web/js/fos_js_routes.js
/web/config.php
codeception.yml
tests/_output/*
tests/_data/firefox_profile/*
tests/**/*Tester.php